<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>async / await</title>
        <link rel="stylesheet" href="../styles/users.css" />
    </head>
    <body>
        <button id="load-users">Load users</button>
        <button id="show-details">Show details</button>

        <div id="details" class="hidden">
            This is some sensetive information that you<br />
            should not have seen. Hide it back again.
        </div>

        <p id="status"></p>

        <input id="search" placeholder="Search user..." />

        <div id="users"></div>

        <script src="../../js/case/users.js"></script>
    </body>
</html>
